.bbpress-wrapper {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.bbpress-wrapper > * {
    display: block;
    max-width: 610px;
    margin: 0 auto;
    text-align: left;
}

.bbp-header {
    display: none;
}